@import "tailwindcss";

/* @theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@font-face {
  font-family: 'Roobert';
  src: url('./Fonts/RoobertTRIAL-Regular.woff') format('woff'), url('./Fonts/RoobertTRIAL-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



body {
  font-family: 'Roobert', Georgia, 'Times New Roman', Times, serif;
}

.title {
  font-size: 88px;
  color: #1a1b1c;
  max-width: 100%;
  display: inline-block;
  will-change: transform;
  line-height: 0.945;
  letter-spacing: -.07em;
}


.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.bottom-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 95%;
  margin: 0 auto;
  
  border: 1px solid red;
}