@import "tailwindcss";

/* @theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@theme {
  --breakpoint-xs: 33rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@font-face {
  font-family: "Roobert";
  src: url("./Fonts/RoobertTRIAL-Regular.woff") format("woff"),
    url("./Fonts/RoobertTRIAL-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "RoobertTRAIL";
  src: url("./Fonts/RoobertTRIAL-Regular.woff") format("woff"),
    url("./Fonts/RoobertTRIAL-Regular.woff2");
}

body {
  font-family: "RoobertTRAIL", Georgia, "Times New Roman", Times, serif;
}


/* 
html {
  overflow-y: hidden;
} */

:root {
  --scrollbar-width: 2px;
  --offset-x: 32px;
  --grid-columns: 8;
  --grid-gap: 0px;
  --grid-column-width: calc(
    (100vw - var(--scrollbar-width, 0px) - var(--offset-x) * 2) /
      var(--grid-columns) - var(--grid-gap) *
      ((var(--grid-columns) - 1) / var(--grid-columns))
  );
  --size: 176px;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: clamp(48px, 2px + 6.5625vw, 128px);
}

.demographics-title {
  font-size: clamp(40px, -24px + 5vw, 72px);
  letter-spacing: -0.06em;
  line-height: 1;
}

.btn {
  background-color: #1a1b1c;
  padding: 8px 16px;
  color: #fff;
  cursor: not-allowed;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
}
.modal--open .modal {
  z-index: 60;
  visibility: visible;
}

.modal__half {
  transition: all 800ms ease-out;
}

.modal--open .modal__rightArrow,
.modal--open .modal__leftArrow {
  transform: translateX(0%);
}

.modal__rightArrow {
  transform: translateX(-35%);
}

.modal__leftArrow {
  transform: translateX(35%);
}

#logo__title--section {
  opacity: 1;
  visibility: visible;
  transition: all 600ms;
  background-color: #fff;
  z-index: 100;
}

.modal--open #logo__title--section {
  opacity: 0;
  visibility: hidden;
  transition: all 600ms;
  transform: translateY(50px);
  background-color: #fff;
}

#description,
.back__btn {
  opacity: 0;
  animation: fade-up 900ms 300ms ease-out forwards;
}

.rombuse {
  top: -80px;
  left: 50%;
}


input {
  background-color: none;
  outline: none;
  font-size: clamp(16px, 12px + 2.5vw, 60px);
  letter-spacing: -0.07em;
  z-index: 1000;
  text-align: center;
  line-height: 1.1;
  border-bottom: 1px solid #1a1b1c;
}

input::placeholder {
  color: #1a1b1c;
  letter-spacing: -0.07em;
}

input:focus::placeholder {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.label {
  font-size: clamp(16px, 12px + 2.5vw, 48px);
  transition: opacity 300ms ease-in-out;
}

.subLabel {
  transition: opacity 300ms ease-in-out;
}

input:focus + .label {
  opacity: 0;
}

.demographics-left {
  flex-shrink: 0;
  width: calc(var(--grid-column-width) * 1 + var(--grid-gap) * 0);
}

.analysis-pick-line {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.analysis-pick-button-diagram {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  display: none;
}

.demographics-right {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-left: 16px;
}

.ai-result-diagram,
.ai-result-diagram--modal {
  font-size: clamp(32px, 16px + 1.25vw, 40px);
  letter-spacing: -0.05em;
  line-height: 1;
  position: relative;
  width: var(--size, 120px);
}

.ai-result-diagram--modal {
  display: none;
}

.ai-confidence-diagram {
  --size: 20vw;
  margin-left: auto;
  margin-top: auto;
}

.ai-result-diagram-svg {
  height: auto;
  overflow: visible;
  width: 102%;
  will-change: transform;
}

.demographics-race-confidence {
  background-color: #f3f3f4;
  flex-shrink: 0;
  margin-left: 16px;
  width: calc(var(--grid-column-width) * 2 + var(--grid-gap) * 1);
}

.demographic__modal--btn {
  display: none;
}

circle {
  transition: stroke-dashoffset 0.5s ease-in-out;
}

svg {
  transform: rotate(-90deg);
}
@media (max-width: 1024px) {
  .demographics-left {
    width: calc(var(--grid-column-width) * 3 + var(--grid-gap) * 1);
  }
  
  .demographics-race-confidence {
    width: 100%;
    flex: 1 1 auto;
  }
  
  .demographics-right {
    display: none;
  }
  
  .analysis-pick-line {
    flex-direction: row;
    margin-bottom: 29px;
    justify-content: space-between;
  }
  
  .analysis-pick-button-diagram {
    display: flex;
  }
}

@media (max-width: 767px) {
  .demographics-title {
    font-size: clamp(28px, 13.7142857143px + 4.4642857143vw, 48px);
  }
}

@media (max-width: 528px) {
  .demographics-left {
    width: 100%;
  }
  
  .demographics-race-confidence {
    display: none;
  }
  
  .demographic__modal--btn {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
    height: 100%;
    width: 100%;
  }

  .ai-result-diagram {
    display: none;
  }

  .ai-result-diagram--modal {
    display: block;
  }
}

@media (max-width: 450px) {
  .rombuse {
    transform: translate(20%, -10%);
  }
}