@import "tailwindcss";

/* @theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@font-face {
  font-family: "Roobert";
  src: url("./Fonts/RoobertTRIAL-Regular.woff") format("woff"),
    url("./Fonts/RoobertTRIAL-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "RoobertTRAIL";
  src: url("./Fonts/RoobertTRIAL-Regular.woff") format("woff"),
    url("./Fonts/RoobertTRIAL-Regular.woff2");
}

body {
  font-family: "RoobertTRAIL", Georgia, "Times New Roman", Times, serif;
}

html {
  overflow-x: hidden;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: clamp(36px, 2px + 6.5625vw, 128px);
}
.btn {
  background-color: #1a1b1c;
  padding: 8px 16px;
  color: #fff;
  cursor: not-allowed;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
}
.modal--open .modal {
  z-index: 60;
  visibility: visible;
}

.modal__half {
  transition: all 800ms ease-out;
}

.modal--open .modal__rightArrow,
.modal--open .modal__leftArrow {
  transform: translateX(0%);
}

.modal__rightArrow {
  transform: translateX(-35%);
}

.modal__leftArrow {
  transform: translateX(35%);
}

#logo__title--section {
  opacity: 1;
  visibility: visible;
  transition: all 600ms;
  background-color: #fff;
  z-index: 100;
}

.modal--open #logo__title--section {
  opacity: 0;
  visibility: hidden;
  transition: all 600ms;
  transform: translateY(50px);
  background-color: #fff;
}

#description {
  opacity: 0;
  animation: fade-up 900ms 300ms ease-out forwards;
}

.rombuse {
  top: -80px;
  left: 50%;
}

@media (max-width: 450px) {
  .rombuse {
    transform: translate(20%, -10%);
  }
  /* .button-icon-text-expanded {
    transform: translate(30%, -10%);
  } */
}
